//- Index.pug
doctype html
html
    head
        title Ashish Dance Academy
        style 
            include ../static/style.css
    body 
        nav#navbar
            div#logo
                img(src="static/img/dance1.png")
                | ADA
            ul
                li #[a(href="/") Home]
                li #[a(href="/") About ]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/") Constact us ]
        section#introSection 
            div 
                div.intro-heading Welcome to Ashish Dance Academy
            | Dance is the hidden language of the soul
        section#missionSection
            div.mission-heading.box Our mission      
            div.card.box
                h3 Dance perfection
                div.card-img
                    img(src="/static/img/dance.png", alt="")
                    div.card-content
                        p  This is the bes website in universe  
            div.card.box
                h3 Dance the way you like 
                div.card-img
                    img(src="/static/img/dance2.png", alt="")
                    div.card-content
                        p  This is the bes website in universe
            div.card.box
                h3 expert teaching 
                div.card-img
                    img(src="/static/img/dance3.png", alt="")
                    div.card-content
                        p  This is the bes website in universe  
        section#sponserSection 
            div.sponser-heading Our Sponsers
            div#sponser
                img(src="/static/img/apple.png", alt="apple img",class="class-sponser")
                img(src="/static/img/infosys.png", alt="infosys img",class="class-sponser")
                img(src="/static/img/skype.png", alt="skype img",class="class-sponser")
        footer#footer
            | copywright © AshishDanceAcademy.com. all right reserved!
        script 
            include ../static/index.js